* {
  padding: 0;
  margin: 0;
}

.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15 0px;
  background-color: rgba(229, 84, 115, 0.10);
}

.banner-text {
  margin-: 5px 20px 5px 30px;
  padding-left: 20px;
}


.banner-header {
  font-size: 25px;
  font-weight: 20px;
  color: black;
}

.banner-pgraph {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
}

.banner-btn {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}

.first-image {
  width: 200px;
}

/*  banner section fished here */


.featured-container {
  width: 80%;
  margin: auto;
}


.featured-title {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
}

.featured-para {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 8px;
}

.featured-photo {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 40px;
}


.featured-one {
  width: 90px;
  height: 110px;
  background-color: rgba(229, 84, 115, 0.10);
  margin-top: 10px;
}

.featured-two {
  width: 110px;
  height: 130px;
  margin-top: 10px;
  background-color: lightgray 50%;
  ;

}

.featured-three {
  width: 110px;
  height: 130px;
  background-color: lightgray 50%;
}

.tree {
  text-align: center;
  font-size: 8px;
  text-decoration: underline;
}

/*----banner footer section----*/
.banner-footer {
  display: flex;
  width: 300px;
  height: 90px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 30%;
  margin-bottom: 30px;

  gap: 40px;
  background-color: rgba(39, 39, 39, 0.05);


}


.local-pic {
  margin-top: 5px;
  padding: 2px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.ban-foot {
  text-align: center;
  font-size: 6px;
}

/*   first container fished here */


.hot-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15 0px;
  background-color: rgba(229, 84, 115, 0.10);
}

.hot-text {
  margin-: 5px 20px 5px 30px;
  padding-left: 20px;
  align-items: center;
}


.hot-header {
  font-size: 25px;
  font-weight: 20px;
  text-align: center;
  color: black;
}

.hot-pgraph {
  font-size: 10px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 15pxpx;
  color: black;
}

.pink-button {
  padding-left: 50px;
  margin-left: 40px;
}


.hot-btn {

  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: chocolate;

}

.second-image {
  width: 200px;
}


/*---Instagram Section start here----*/

/*
.insta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  gap: 10px;
  width: max-content;
}
.insta-photo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

 second contsiner fished here */


.insta-container {
  height: 250px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 70px;
}

.insta-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.insta-para {
  text-align: center;
  font-size: 12px;
}

.insta-one {
  height: 250px;
  width: auto;
}

.insta-photo {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5px;

}

/*  Last contsiner start here

for delete

*/

.last-container {
  height: 250px;
  width: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-left: 150px;
  margin-right: 200px;
  background-image: url(./images/Rectangle\ 9.png);
  background-size: cover;


}

.last-info {
  text-align: center;
  margin-top: 40px;
  padding-top: 100px;
}

.coupon {
  margin-bottom: 20px;
}

.email-me {
  text-align: left;
}

#email {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 210px;

}

.subscribe {
  padding: 12px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}










.footer {
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
  height: 120px;
  margin: 30px;
  padding: 80px 50px;

}

.primary {
  color: hsla(343, 57%, 54%, 0.965);
}

.footer-head {
  margin-bottom: 10px;
  margin-top: 12px;
}


.foot-body {
  font-size: 12px;
  margin-bottom: 14px;
  color: rgba(255, 255, 255, 0.70);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.footer-bottom {
  color: rgba(255, 255, 255, 0.40);
  text-align: center;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}